nav {
    min-height: 75px;
}

nav a.nav-item {
    margin-right: 10px;
}

div#answer {
    display:none;
}

#learn-view .row{
    margin: 1rem 0 1rem 0;
}

div.alert-custom {
    margin-bottom: 0;
    display: none;
}
