nav {
    min-height: 75px;
}

nav a.nav-item {
    margin-right: 10px;
}

div#answer {
    display: none;
}

#learn-view .row {
    margin: 1rem 0 1rem 0;
}

div.alert-custom {
    margin-bottom: 0;
    display: none;
}

.rating-indicator .color-1 {
    color: red;
}

.rating-indicator .color-2 {
    color: orangered;
}

.rating-indicator .color-3 {
    color: orange;
}

.rating-indicator .color-4 {
    color: yellowgreen;

}

.rating-indicator .color-5 {
    color: green;

}

.env-indicator {
    margin-bottom: 0;
    background-color: red;
    height: 10px;
}

textarea {
    min-height: 150px;
}