#admin-jsx {
  .component {
    position: relative;
    padding: 1em;
    border: 1px solid #d8d8d8;
    margin: 1.5rem 0 0;
  }
}

#imageManager{
  img {
    max-width: 240px;
    max-height: 240px;
    display: inline;
  }
}