nav {
  min-height: 75px;

  a.nav-item {
    margin-right: 10px;
  }
}

div#answer {
  display: none;
}

#learn-view .row {
  margin: 1rem 0 1rem 0;
}

div.alert-custom {
  margin-bottom: 0;
  display: none;
}

.rating-indicator {
  .color-1 {
    color: red;
  }
  .color-2 {
    color: orangered;
  }
  .color-3 {
    color: orange;
  }
  .color-4 {
    color: yellowgreen;
  }
  .color-5 {
    color: green;
  }
}

.env-indicator {
  margin-bottom: 0;
  background-color: red;
  height: 10px;
}

textarea {
  min-height: 150px;
}