{% extends 'base.html.twig' %}

{% block body %}
        <div class="col col-1 offset-11">
            <button type="button" class="delete-item btn btn-danger" data-toggle="modal" data-target="#deleteItemModal">
                <span class="oi oi-trash"></span>
            </button>
        </div>

    {{ include('admin/_form.html.twig', {
        'label':'update',
        'button_id':'update'
    }) }}

    {{ include('admin/_modal.delete.html.twig', {
        'item': item
    }) }}
{% endblock %}