{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    {{ item.question }}
                </td>
                <td>
                    {{ item.answer }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form(form) }}
{% endblock %}