{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    {{ item.question|markdown }}
                </td>
                <td>
                    {{ item.answer|markdown }}
                </td>
                <td>
                    {{ item.dueAt|due_since }}
                </td>
                <td>
                    <a href="{{ path('item_edit', {'id': item.id}) }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}