@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

body#prod {
  nav {
    background-color: lightyellow;
  }
}

body#dev {
  nav {
    background-color: #f8f9fa;
  }

}

nav {
  min-height: 75px;

  a.nav-item {
    margin-right: 30px;
  }
  margin-bottom: 25px;
}

img {
  max-width:340px;
  height: auto;
}

#learn-view .row {
  margin: 1rem 0 1rem 0;
}

div.alert-custom {
  margin-bottom: 0;
  display: none;
}

.rating-indicator {
  .color-0 {
    color: red;
  }
  .color-1 {
    color: orangered;
  }
  .color-2 {
    color: orange;
  }
  .color-3 {
    color: yellow;
  }
  .color-4 {
    color: yellowgreen;
  }
  .color-5 {
    color: green;
  }
}

textarea {
  min-height: 150px;
}

a.edit-item span {
  float: right;
  top: 5px;
  right: 5px;
}