{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-custom" role="alert">
            {{ message }} &nbsp; <span class="oi oi-check"></span>
        </div>
    {% endfor %}
{% endfor %}