<div class="rating-indicator">
    {% for rating in ratings %}
        <span class="color-{{ rating.value }}">
            <span class="oi oi-media-stop"></span>
        </span>
    {% endfor %}
</div>