#learn-jsx {

  .rate {
    button {
      margin-right: 25px;
    }
  }

  .word-check {
    margin-right: 15px;

    .word-found {
      background-color: lightgreen;
    }

    .wrong-letter {
      background-color: lightcoral;
    }
  }

  img {
    max-width: 240px;
    max-height: 240px;
    display: inline;
  }

  .phrases {
      .inflection {
        font-weight: bold;
      }
  }

}