{% extends 'base.html.twig' %}

{% block body %}
<div id="learn-view">    {% if item %}
        <div class="row">
            <div class="due-item-count">
                {{ numberOfDueItems }}
            </div>
        </div>
        <div class="row">
            <div id="question" class="card card-outline-secondary mb-3">
                <div class="card-body">
                    {{ item.question|markdown }}
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-light" id="show">Show</button>
        </div>
        <div class="row">
            <div id="answer" class="card card-outline-light mb-3">
                <div class="card-body">
                    {{ item.answer|markdown }}
                </div>
            </div>
        </div>

        <div class="row">
            <form method="post" action="{{ path('learn_handle_result', {'item': item.id}) }}">
                <button class="btn btn-light" name="learn_rating" value="1">1</button>
                <button class="btn btn-light" name="learn_rating" value="2">2</button>
                <button class="btn btn-light" name="learn_rating" value="3">3</button>
                <button class="btn btn-light" name="learn_rating" value="4">4</button>
                <button class="btn btn-light" name="learn_rating" value="5">5</button>
            </form>
        </div>
    {% else %}
        Nothing to learn
    {% endif %}</div>
{% endblock %}