{% extends 'base.html.twig' %}

{% block body %}
    <div id="learn-jsx">

    </div>

    <script type="text/javascript">
        let  GoGo = {
            'basicAuthValue': '{{ basicAuthValue }}'
        };
    </script>

{% endblock %}