<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('learn') }}">Learn</a>
            <a class="nav-item nav-link" href="{{ path('item_list') }}">List</a>
            <a class="nav-item nav-link" href="{{ path('item_create') }}">Create</a>
        </div>
    </div>
</nav>