<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gogo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
    {% endblock %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="col-md-8 col-sm-12 offset-md-2">
        <div class="row">
            <div class="col">
                {{ include('_navigation.html.twig') }}
            </div>
        </div>
        <div class="row alert-outer">
            <div class="col" style="min-height: 0px">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
